@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300;400;500;600;700&display=swap');

$Poppins: 'Poppins', sans-serif;

// colors
$black: #000;
$dark: rgb(29, 29, 29);
$light: #eee;
$gray: rgb(199,199,199);
// $primary: rgb(162, 162, 246);
$danger: rgb(178,34,34);

$main-bg: #000;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 100px;
