@import '../sass/main-import.scss';

.about {
  h1 {
    font-size: 40px;
    padding: 40px  40px 40px 0;
  }
  
  h3 {
    margin: 15px;
  }
  ul {
    padding: 40px;
    li {
      padding: 6px;
      a {
        padding-left: 10px;
        color: $primary;
      }
    }
  }
}