@import "../sass/main-import.scss";

.pageDetails {
  margin: 0 auto;
  padding: 50px;
  width: 50vw;
  color: $light;
  // border: 1px solid #aaa;
  &__content {
    display: flex;
    &__imgWrapper {
      width: 240px;
      height: 300px;
      // border: 2px solid #aaa;
      // flex-basis: 30%;
      img {
        width: 210px;
        height: 295px;
        object-fit: cover;
        border: 1px dotted #aaa;
      }
    }
    &__details {
      padding: 20px;
    }
  }
  &__showGenres {
      margin-right: 4px;
  }
}

