@import '../sass/main-import.scss';

.homepage {
  width: 100vw;
  padding: 20px;
  border: 2px solid #aaa;
  &__list {
    width: 80vw;
    margin: 0 auto;
    border: 1px dotted #aaa;
    display: flex;
    flex-wrap:wrap;
  }
}

