@import '../scss/main-import.scss';

.alert {
  width: 70vw;
  height: 35px;
  padding: 3px;

  &__message {
    color: $danger;
    font-size: 18px;
    font-weight: 500;
    i {
      margin-right: 5px;
    }
  }
}

