@import '../sass/main-import.scss';

.header {
  margin: 40px auto 0;
  height: $headerHeight;
  width: 80vw;
  // background-color: $dark;
  color: $light;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {      
      // @include border($gray);
      h3 a {
        padding: 20px;
        font-size: 2rem;
        font-weight: bold;
        color: $light;
        &:hover {
          text-decoration: underline;
        }  
      }
    }
    &__nav {
      // @include border($gray);   
      margin-right: 16%;   
      ul {
        display: flex;
        list-style: none;
        li {
          padding: 20px;
          a {
            color: inherit;
            font-size: 20px;
          }
        }
      }

    }
  }
}