@import '../sass/main-import.scss';

.header {
  padding: 40px 0;
  height: $headerHeight;
  // width: 100vw;
  background-color: $dark;
  color: $light;
  padding-left: 4%;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {   
      display: flex;   
      h3 a {
        padding: 18px;
        font-size: 1.8rem;
        font-weight: bold;
        color: $light;
        &:hover {
          text-decoration: underline;
        }  
      }
    }
    &__nav {
      margin-right: 16%;   
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        li {
          padding: 20px 20px 20px 0;
          a {
            color: inherit;
            font-size: 1rem;
            i {
              font-size: 2.5rem;
            }
          }
        }
      }

    }
  }
}

@media only screen and (max-device-width: 992px) {
  .header {
    &__content {
      justify-content:start ;
      align-items: center;
      flex-wrap: wrap;
    }
    &__content__logo {
      h3 {
        padding-left: 10px;
      }
      i {
      display: none;
      }
    }
  }
}